<% if (locals.errors) {%>
    <ul>
        <% errors.forEach(function(error) { %>
            <li class="error-text">
                <%= error.msg %>
            </li>
            <% }); %>
    </ul>
    <% } %>