* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Courier New", Courier, monospace;
    color: var(--main-text);
}

:root {
    --background: #222526;
    --main-text: #f6f0e9;
    --sec-text: #858e92;
}

.heading {
    margin-bottom: 2rem;
    color: var(--main-text);
}

body {
    display: flex;
    justify-content: center;
    background-color: var(--background);
    padding: 1rem;
}

p,
label,
input,
textarea,
button {
    color: var(--main-text);
}

.content {
    display: flex;
    flex-direction: column;
    width: 40%;
    width: clamp(450px, 50%, 1000px);
    padding: 1rem;
}

.messages,
.new-msg-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 2rem;
}

.input-group {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    padding: 0.2rem 0.2rem;
}

input,
textarea {
    border: none;
    border-bottom: 1px solid var(--sec-text);
    background-color: inherit;
    font-size: 1rem;
    padding: 0.2rem 0;
}

input:focus,
textarea:focus {
    outline: none;
    border-bottom: 2px solid hotpink;
}

button {
    border: none;
    font-size: 1.3rem;
    background-color: transparent;
    margin: 1rem 0;
    width: fit-content;
}

button:hover {
    color: hotpink;
    cursor: pointer;
}

nav {
    padding: 1rem;
}

ul {
    list-style: none;
    text-decoration: none;
    color: var(--main-text);
    display: flex;
    justify-content: space-around;
}

a {
    text-decoration: none;
    color: inherit;

    display: block;
    position: relative;
    padding: 0.2rem 0;
}

.nav-link::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1rem;
    background-color: hotpink;
    opacity: 0;
    transition:
        opacity 300ms,
        transform 300ms;
}

.nav-link:hover::after,
.nav-link:focus::after {
    opacity: 1;
    transform: translate3d(0, 0.2rem, 0);
}

li .nav-link::after {
    opacity: 1;
    transform: scale(0);
    transform-origin: center;
}

li .nav-link:hover::after,
li .nav-link:focus::after {
    transform: scale(1);
}

.msg-header {
    display: flex;
    align-items: center;
    gap: 20px;
}

.msg-name {
    color: hotpink;
    font-weight: 500;
    font-size: 1.1rem;
}

.msg-date {
    color: var(--sec-text);
    font-size: 13px;
}

.msg-block {
    padding: 1rem 0.2rem;
}

.msg-block:hover {
    background-color: rgb(65, 65, 65);
    cursor: pointer;
}

.msg-details {
    display: flex;
    flex-direction: column;
    padding: 2rem 1rem;
    gap: 2rem;
    border-radius: 13px;
    background-color: #2d2e2e;
}

.msg-details > .msg-header {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0.2rem;
}

@media (max-width: 550px) {
    .msg-name {
        font-size: 1.6rem;
    }

    .msg-date {
        font-size: 1, 2rem;
    }

    button {
        font-size: 2.1rem;
    }

    input,
    textarea {
        font-size: 1.5rem;
    }
}
